@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.cont {
    background-color: #fdf1a5;
}

.image {
    width: 145px;
}

.icon-d {
    padding: 20px;
    background-color: #152c3e;
    border-radius: 40px;
    margin-left: 5px;
}

.para {
    padding-top: 15px;
    color: #5a7184;
}

.head1 {
    font-size: 17px;
    color: #5a7184;
    font-family: "Roboto";
    font-weight: 700;
}

.para1 {
    color: #5a7184;
    font-size: 14px;
}